#headies{
    background-color: rgb(53, 135, 250);
}
.headerFont {
    color: white;
    background-color:  rgb(53, 135, 250);
}

/* media query */
@media only screen and (max-width: 480px) {
    
    .headerFont{
        font-size: 10px;
    }
    #mediaQueryMove{
        margin-left: 15px;
    }
}
